.ImageGalleryItemsHeader {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: blueviolet;
}

.ImageGalleryItems {
    margin: -5px;
    display: flex;
    justify-content: center;
}

.ImageGalleryItems>a>img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.ImageGalleryItemsHeader h1 {
    font-size: 4vh;
}

.ImageGalleryItemsHeader h2 {
    font-size: 2vh;
    color: crimson;
}
